AutB_MOD_12 Node-RED/node_flows/CommonFlow.json
[
    {
        "id": "cdd8eabb6d15742a",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d2f0af75c7dc55ac",
        "type": "inject",
        "z": "cdd8eabb6d15742a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 200,
        "wires": [
            [
                "b2c616084b233aea",
                "b5363363135fe1c5"
            ]
        ]
    },
    {
        "id": "b2c616084b233aea",
        "type": "link call",
        "z": "cdd8eabb6d15742a",
        "name": "",
        "links": [
            "5e699c0835af54c4"
        ],
        "linkType": "static",
        "timeout": "3",
        "x": 350,
        "y": 200,
        "wires": [
            [
                "4028aa745863fa70"
            ]
        ]
    },
    {
        "id": "4028aa745863fa70",
        "type": "debug",
        "z": "cdd8eabb6d15742a",
        "name": "Debug Call Three",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 200,
        "wires": []
    },
    {
        "id": "77ad3fda84ecdbe5",
        "type": "function",
        "z": "cdd8eabb6d15742a",
        "name": "Test function",
        "func": "msg.payload = \"payload of test function\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 60,
        "wires": [
            [
                "bf95d72c3b0ba9d8"
            ]
        ]
    },
    {
        "id": "5e699c0835af54c4",
        "type": "link in",
        "z": "cdd8eabb6d15742a",
        "name": "Test In",
        "links": [],
        "x": 195,
        "y": 60,
        "wires": [
            [
                "77ad3fda84ecdbe5"
            ]
        ]
    },
    {
        "id": "8d2380bd9fd72ee5",
        "type": "link out",
        "z": "cdd8eabb6d15742a",
        "name": "Test Out",
        "mode": "return",
        "links": [],
        "x": 705,
        "y": 60,
        "wires": []
    },
    {
        "id": "adc7aafcc5eb9073",
        "type": "catch",
        "z": "cdd8eabb6d15742a",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 160,
        "y": 260,
        "wires": [
            [
                "ec5c7f88f161f48a"
            ]
        ]
    },
    {
        "id": "ec5c7f88f161f48a",
        "type": "change",
        "z": "cdd8eabb6d15742a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "No answer from test function",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 260,
        "wires": [
            [
                "33a9dd83f774a1af"
            ]
        ]
    },
    {
        "id": "33a9dd83f774a1af",
        "type": "debug",
        "z": "cdd8eabb6d15742a",
        "name": "Check Time Out",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 260,
        "wires": []
    },
    {
        "id": "c0f430be9bfd1562",
        "type": "debug",
        "z": "cdd8eabb6d15742a",
        "name": "Test Function",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 120,
        "wires": []
    },
    {
        "id": "a2eeb6714bf505a1",
        "type": "link in",
        "z": "cdd8eabb6d15742a",
        "name": "link in 1",
        "links": [],
        "x": 405,
        "y": 120,
        "wires": [
            [
                "c0f430be9bfd1562"
            ]
        ]
    },
    {
        "id": "b5363363135fe1c5",
        "type": "debug",
        "z": "cdd8eabb6d15742a",
        "name": "To Check Id",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 230,
        "y": 140,
        "wires": []
    },
    {
        "id": "bf95d72c3b0ba9d8",
        "type": "delay",
        "z": "cdd8eabb6d15742a",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 540,
        "y": 60,
        "wires": [
            [
                "8d2380bd9fd72ee5"
            ]
        ]
    }
]